@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/*
https://webcrunch.com/posts/how-to-create-tabs-with-vanilla-javascript? 
https://www.slingacademy.com/article/building-a-simple-tabs-interface-using-only-the-javascript-dom/?


/* Box-sizing reset (https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/) */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html {
	font-family: "Open Sans", sans-serif;
}
#container {
	width: 80%;
	margin: 0 auto;
}


/* tab styling */
.tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.tabs li {
    border: 1px solid #666;
    border-bottom: none;
    background: #ddd;
    margin-right: 5px;
}

.tabs li a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    color: black;
}


.tabs li a:hover {
    background: #eee;
}

.tabs [role="tabpanel"] {
    border: 1px solid #666;
    padding: 15px;
    margin-top: -1px;
    background: white;
}


/* hide all panels */
[role="tabpanel"] {
    display: none;
    border: 1px solid #666;
    padding: 15px;
    margin-top: -1px;
}

/* show active panel */
[role="tabpanel"].active {
    display: block;
}


/* active tab */
.tabs li.active {
    background: white;
}

