body {
  background-color: #666;
  line-height: 1.4;

font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;

 
}




.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

#page {
  width: 70%;
  background-color: white;
  margin: 50px auto;
  padding: 5%;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.75);



}

/* Multi-column layout
-------------------------------------------------- */
main {
  column-count: 3;




}

main p:first-child {
  margin-top: 0;



}

head {
    font-style: bold;


    .anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

}

 header h1,
        header h2 {
            text-align: top;
            font-size: 1.4rem;
            font-family: sans-serif
        }

        header h2 {
            text-align: center;
            font-size: 3rem;
            font-weight: bolder;
            font-family: "Bubbler One", serif;
            


        }

        header p {
            text-align: center;
            font-size: 1.5rem;
            font-family: "Alfa Slab One", serif;

        }
       