/* Reset + box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Libre Baskerville", serif;
  background-color: #0f0f0f;
  color: #e6e6e6;
  line-height: 1.6;
}

/* Layout */
header,
footer {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #000000;
}